@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

*,
*:after *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#body {
    font-family: 'Cute Font';
    background-color: #0a093df3;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    position: absolute;
    width: 98%;
    top: 0;
    left: 0;
    padding: 10px 2px;
    justify-content: space-between;
    align-items: center;
}

#header a .logo {
    width:90px;
    height: 90px;
    pointer-events: none;
    margin-left: -7px;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

#header ul li {
    list-style: none;
    margin-left: 8px;
    font-size: 30px;
}

#header ul a {
    text-decoration: none;
    padding: 4px 2px;
    color: #ffffff;
    font-size: 30px;
}

#needed {
    padding-top: 100px;
    text-align: center;
    
}

#web3connect {
    width:90px;
    border-radius: 15px;
    margin-left:3px;
    font-size: 25px;
    
}

#balance { 
    font-size: 30px;
    margin-left: 10%;
}


#last10txn {
    margin-left: 10%;
    float:left;
    width: 60%;
    margin-bottom: 50px;
}

#txncon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    flex-wrap: wrap;
    z-index: 1;
}

#txncard {
    position: relative;
    width: 700px;
    height: 135px;
    margin-top: 30px;
    box-shadow: 20px 1px 40px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;

}

#txnxontent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

#txnp {
    font-size: 1.12em;
    color: #ffffff;
    font-weight: 300;
}

#txna {
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

/* nft css down */

#getmynft {

    font-size: 20px;
    width:200px; 
    border-radius: 5px;
    margin-top: 110px;
    left: 44%;
    position: relative;
}


#dev{
    margin-top: 30px;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
    z-index: 1;
    margin-right: 10px;
    margin-left: 20px;
}

#container #card {
    position: relative;
    width: 380px;
    height: 300px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

#container #card #content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

#container #card #content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 6em;
    color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    margin-top: 10px;

}

#container #card #content h3 {
    font-size:1.8em;
    color: #ffffff;
    z-index:1;

}

#container #card #content p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;

}

#container #card #content a {
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#end{
    margin-top: 40%;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

#audio {
    margin-top: 10px;
    border-radius: 8px;
}


#nftimg {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin-right: 200px;
}


// defi css below

#mychart {
    max-width: 100%;
    max-height: 40%;
}



// buy below

#rowt {

    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

}


// token 

#tcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    margin-right: 10px;
    margin-left: 20px;
}

#tcontainer #tcard {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

#tcontainer #tcard #tcontent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

#tcontainer #tcard #tcontent h2 {
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    margin-top: 10px;

}

#tcontainer #tcard #tcontent h3 {
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;

}

#tcontainer #tcard #tcontent p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;

}

#tcontainer #tcard #tcontent a {
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    margin-top: 2px;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#timg {
    position: absolute;
    border-radius: 20px;
    height: 80px;
    width: 80px;
    left: 5%;
    top: 5%;
    
}

